<h1><%= @list.name %></h1>
<%= link_to 'Create bookmark', new_list_bookmark_path(@list) %>
<%= link_to 'Back', lists_path %>
<% @list.bookmarks.each do |bookmark|  %>
<%= bookmark.movie.title %>
<%= image_tag bookmark.movie.poster_url %>
<% end %>
